.row-fluid
  %a#main
  %section#main_section
    .container
      .desc.col-lg-6
        群傲公司专注电子商务网站开发， 电子商务网站推广等业务。 本公司用用多年的电子商务网站设计，开发，推广经验。
        如果您想拥有自己专属的电子商务网站， 敬请联系我公司。 群傲电子商务模板是我公司自主研发的电商模板， 目的是帮助您轻松搭建属于自己的网站， 拥有自己的域名，让您的电商网站瞬间高大上起来。
      .img.col-lg-6
        = image_tag 'main.png', :class => "img-rounded", :width => "460"

  
  %a#cates
  %section#cates_section
    .container
      .img.col-lg-6
        = image_tag 'cate.png', :class => "img-rounded", :width => "460"
      .desc.col-lg-6
        本模板可以轻松对您的产品进行多重纬度的分类。 比如， 圣诞节来了您想对部分商品进行打折， 群傲电商轻松帮您搞定。
  
  
  %a#products
  %section#products_section
    .container
      .desc.col-lg-6
        产品详细页面，可选颜色和尺码等选择， 后台轻松可配， 前台轻松可选, 客户留言，产品详情， 多图片配置轻松可配。
      .img.col-lg-6
        = image_tag 'product.png', :class => "img-rounded", :width => "460"
  
  
  %a#carts
  %section#carts_section
    .container
      .img.col-lg-6
        = image_tag 'main.png', :class => "img-rounded", :width => "460"
      .desc.col-lg-6
        一键加入购物车， 轻松购物流程，支付手段多样， 支付宝，财付通，银联在线一应俱全。
  
  
  %a#checkout
  %section#checkout_section
    .container
      .desc.col-lg-6
        多物流价格可选可配， 配送价格可根据地区，重量，体积，物流公司等条件自动计算。
      .img.col-lg-6
        = image_tag 'checkout.png', :class => "img-rounded", :width => "460"
  
  %a#admin
  %section#admin_section
    .container
      .desc.col-lg-6
        简单易用的后台功能，减轻您上传产品信息， 订单处理，产品分类，促销打折等多重麻烦。
      .img.col-lg-6
        = image_tag 'admin.png', :class => "img-rounded", :width => "460"
  
  %a#contact
  %section#contact_section
    .container
      .desc.col-lg-12
        QQ: 358631229
        %br
        联系人： 马小姐
              
