.row-fluid
  %a#main
  %section#main_section
    .container
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
      .img.col-lg-6
        = image_tag 'main.png', :class => "img-rounded", :width => "460"

  
  %a#cates
  %section#cates_section
    .container
      .img.col-lg-6
        = image_tag 'cate.png', :class => "img-rounded", :width => "460"
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
  
  
  %a#products
  %section#products_section
    .container
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
      .img.col-lg-6
        = image_tag 'product.png', :class => "img-rounded", :width => "460"
  
  
  %a#carts
  %section#carts_section
    .container
      .img.col-lg-6
        = image_tag 'main.png', :class => "img-rounded", :width => "460"
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
  
  
  %a#checkout
  %section#checkout_section
    .container
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
      .img.col-lg-6
        = image_tag 'checkout.png', :class => "img-rounded", :width => "460"
  
  %a#logistics
  %section#logistics_section
    .container
      .img.col-lg-6
        = image_tag 'main.png', :class => "img-rounded", :width => "460"
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
  
  
  
  %a#admin
  %section#admin_section
    .container
      .desc.col-lg-6
        清爽界面设计，人性化UI，定位于主流人群.
        保障您的权益，请与配送员当面核对商品种类、数量、规格、赠品、金额等是否与订单一致，准确无误再 进行签收。配送员离开后，居买卖将不再为以上问题负责
      .img.col-lg-6
        = image_tag 'admin.png', :class => "img-rounded", :width => "460"
  
  %a#contact
  %section#contact_section
    .container
      .desc.col-lg-12
        QQ: 358631229
              
